div {
  auto;
  color: #ea80b0;
  font-size: 4.2rem;
  font-family: STXingkai;
  text-shadow: 0 0 10px plum, 0 0 20px plum, 0 0 30px plum, 0 0 40px plum;
}

.box {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
